{% extends 'base.html.twig' %}

{% block body %}
    <section id="title-block">
        <div class="block-description text-lg-center text-md-center text-sm-center mx-auto">
            <h1>Мои подписки и баланс</h1>
        </div>
        <div class="mb-2">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link active text-bg-dark" aria-current="page" href="#">Мои Подписки и Баланс</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-bg-light" href="{{ path('transactions') }}">Мои Транзакции</a>
                </li>
            </ul>
        </div>
    </section>
    <section id="main-block">
        {{ include('personal-account/_balance.html.twig') }}
        <div class="block-description another-blocks-description container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3>Мои услуги</h3>
                </div>
                <div class="col-lg-6 col-md-6 d-grid">
                    <button class="btn btn-outline-dark" type="button">Добавить услугу</button>
                </div>
            </div>
        </div>
        <div class="block-description another-blocks-description container-fluid">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Количество услуг</th>
                    <th scope="col">Цена единицы</th>
                    <th scope="col" colspan="2">Итого</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td scope="row">Пользование Лифтом</td>
                    <td>3</td>
                    <td>5</td>
                    <td>15</td>
                    <td><i class="fa-solid fa-rectangle-xmark fa-2xl"></i></td>
                </tr>
                <tr>
                    <td scope="row">Вывоз мусора</td>
                    <td>2</td>
                    <td>10</td>
                    <td>20</td>
                    <td><i class="fa-solid fa-rectangle-xmark fa-2xl"></i></td>
                </tr>
                <tr>
                    <td scope="row">Электричество</td>
                    <td>2</td>
                    <td>10</td>
                    <td>20</td>
                    <td><i class="fa-solid fa-rectangle-xmark fa-2xl"></i></td>
                </tr>
                <tr>
                    <th scope="row" colspan="3">Итого за все услуги:</th>
                    <td>55</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}